:where(code, samp, time) {
  background: var(--background);
  color: var(--code);
  padding: calc(var(--px) * 2.5) calc(var(--px) * 5);
  border-radius: calc(var(--px) * 6);
  font-size: 1em;
}

:where(pre > code) {
  padding: calc(var(--px) * 10);
  display: block;
  overflow-x: auto;
}

:where(var) {
  color: var(--variable);
  font-style: normal;
  font-family: monospace;
}

:where(kbd) {
  background: var(--background);
  border: var(--px) solid var(--border);
  border-radius: calc(var(--px) * 2);
  color: var(--text-main);
  padding: calc(var(--px) * 2) calc(var(--px) * 4);
}
