:where(details) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-alt);
  padding: calc(var(--px) * 10) calc(var(--px) * 10) 0;
  margin: 1em 0;
  border-radius: calc(var(--px) * 6);
  overflow: hidden;
}

:where(details[open]) {
  padding: calc(var(--px) * 10);
}

:where(details > :last-child) {
  margin-bottom: 0;
}

:where(details[open] summary) {
  margin-bottom: calc(var(--px) * 10);
}

:where(summary) {
  display: list-item;
  background-color: var(--background);
  padding: calc(var(--px) * 10);
  margin: calc(var(--px) * -10) calc(var(--px) * -10) 0;
  cursor: pointer;
  outline: none;
}

:where(summary:hover, summary:focus) {
  text-decoration: underline;
}

:where(details > :not(summary)) {
  margin-top: 0;
}

:where(summary::-webkit-details-marker) {
  color: var(--text-main);
}
