:where(
    button,
    select,
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    input[type="checkbox"],
    input[type="range"],
    input[type="radio"]
  ) {
  cursor: pointer;
}

:where(input, select) {
  display: block;
}

:where([type="checkbox"], [type="radio"]) {
  display: initial;
}

:where(input, button, textarea, select) {
  color: var(--form-text);
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: calc(var(--px) * 6);
  margin-bottom: calc(var(--px) * 6);
  padding: calc(var(--px) * 10);
  border: none;
  border-radius: calc(var(--px) * 6);
  outline: none;
}

:where(
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"]
  ) {
  background-color: var(--button-base);
  padding-right: calc(var(--px) * 30);
  padding-left: calc(var(--px) * 30);
}

:where(
    button:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover
  ) {
  background: var(--button-hover);
}

:where(input[type="color"]) {
  min-height: 2rem;
  padding: calc(var(--px) * 8);
  cursor: pointer;
}

:where(input[type="checkbox"], input[type="radio"]) {
  height: 1em;
  width: 1em;
}

:where(input[type="radio"]) {
  border-radius: 100%;
}

:where(input) {
  vertical-align: top;
}

:where(label) {
  vertical-align: middle;
  margin-bottom: calc(var(--px) * 4);
  display: inline-block;
}

:where(
    input:not([type="checkbox"]):not([type="radio"]),
    input[type="range"],
    select,
    button,
    textarea
  ) {
  -webkit-appearance: none;
  appearance: none;
}

:where(textarea) {
  display: block;
  margin-right: 0;
  box-sizing: border-box;
  resize: vertical;
}

:where(textarea:not([cols])) {
  width: 100%;
}

:where(textarea:not([rows])) {
  min-height: calc(var(--px) * 40);
  height: calc(var(--px) * 140);
}

:where(select) {
  background: var(--background) var(--select-arrow)
    calc(100% - calc(var(--px) * 12)) 50% / calc(var(--px) * 12) no-repeat;
  padding-right: calc(var(--px) * 35);
}

:where(select[multiple]) {
  padding-right: calc(var(--px) * 10);
  background-image: none;
  overflow-y: auto;
}

:where(input:focus, select:focus, button:focus, textarea:focus) {
  box-shadow: 0 0 0 calc(var(--px) * 2) var(--focus);
}

:where(
    input[type="checkbox"]:active,
    input[type="radio"]:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active,
    input[type="range"]:active,
    button:active
  ) {
  transform: translateY(calc(var(--px) * 2));
}

:where(input:disabled, select:disabled, button:disabled, textarea:disabled) {
  cursor: not-allowed;
  opacity: 0.5;
}

:where(::placeholder) {
  color: var(--form-placeholder);
}

:where(fieldset) {
  border: var(--px) var(--focus) solid;
  border-radius: calc(var(--px) * 6);
  margin: 0;
  margin-bottom: calc(var(--px) * 12);
  padding: calc(var(--px) * 10);
}

:where(fieldset :is(h1, h2, h3, h4, h5, h6, p)) {
  margin: 0;
}

:where(legend) {
  font-size: 0.9em;
  font-weight: 600;
}
