:where(img, video) {
  max-width: 100%;
  height: auto;
}

:where(hr) {
  border: none;
  border-top: var(--px) solid var(--border);
}

:where(::-webkit-scrollbar) {
  height: calc(var(--px) * 10);
  width: calc(var(--px) * 10);
}

:where(::-webkit-scrollbar-track) {
  background: var(--background);
  border-radius: calc(var(--px) * 6);
}

:where(::-webkit-scrollbar-thumb) {
  background: var(--scrollbar-thumb);
  border-radius: calc(var(--px) * 6);
}

:where(::-webkit-scrollbar-thumb:hover) {
  background: var(--scrollbar-thumb-hover);
}

:where(::selection) {
  background-color: var(--selection);
  color: var(--text-bright);
}

:where(dialog) {
  background-color: var(--background-alt);
  color: var(--text-main);
  border: none;
  border-radius: calc(var(--px) * 6);
  border-color: var(--border);
  padding: calc(var(--px) * 10) calc(var(--px) * 30);
}

:where(dialog > header:first-child) {
  background-color: var(--background);
  border-radius: calc(var(--px) * 6) calc(var(--px) * 6) 0 0;
  margin: calc(var(--px) * -10) calc(var(--px) * -30) calc(var(--px) * 10);
  padding: calc(var(--px) * 10);
  text-align: center;
}

:where(dialog::backdrop) {
  background: #0000009c;
  backdrop-filter: blur(calc(var(--px) * 4));
}

:where(footer) {
  border-top: var(--px) solid var(--border);
  padding-top: calc(var(--px) * 10);
  color: var(--text-muted);
}

:where(body > footer) {
  margin-top: calc(var(--px) * 40);
}
