input[type="range"] {
  margin: calc(var(--px) * 10) 0;
  padding: calc(var(--px) * 10) 0;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: calc(var(--px) * 9.5);
  transition: var(--animation-duration);
  background: var(--background);
  border-radius: calc(var(--px) * 3);
}

input[type="range"]::-webkit-slider-thumb {
  height: calc(var(--px) * 20);
  width: calc(var(--px) * 20);
  border-radius: 50%;
  background: var(--text-muted);
  -webkit-appearance: none;
  appearance: none;
  border: none;
  margin-top: calc(var(--px) * -7);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--background);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: calc(var(--px) * 9.5);
  transition: var(--animation-duration);
  background: var(--background);
  border-radius: calc(var(--px) * 3);
}

input[type="range"]::-moz-range-thumb {
  height: calc(var(--px) * 20);
  width: calc(var(--px) * 20);
  border-radius: 50%;
  background: var(--text-muted);
  border: none;
}
