:where(table) {
  border-collapse: collapse;
  margin-bottom: calc(var(--px) * 10);
  width: 100%;
  table-layout: fixed;
}

:where(table caption) {
  text-align: left;
}

:where(td, th) {
  padding: calc(var(--px) * 6);
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

:where(thead) {
  border-bottom: var(--px) solid var(--border);
}

:where(tfoot) {
  border-top: var(--px) solid var(--border);
}

:where(tbody tr:nth-child(even)) {
  background-color: var(--background);
}

:where(tbody tr:nth-child(even) button) {
  background-color: var(--background-alt);
}

:where(tbody tr:nth-child(even) button:hover) {
  background-color: var(--background-body);
}
