table {
  border-collapse: collapse;
  margin-bottom: calc(var(--px) * 10);
  width: 100%;
  table-layout: fixed;
}

table caption {
  text-align: left;
}

td,
th {
  padding: calc(var(--px) * 6);
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

thead {
  border-bottom: var(--px) solid var(--border);
}

tfoot {
  border-top: var(--px) solid var(--border);
}

tbody tr:nth-child(even) {
  background-color: var(--background);
}

tbody tr:nth-child(even) button {
  background-color: var(--background-alt);
}

tbody tr:nth-child(even) button:hover {
  background-color: var(--background-body);
}
